@charset "utf-8";



.showList{
    display: none;
    font-size: 20px;
    position: absolute;
    background-color: rgb(246, 202, 130);
    top: 52%;
    height: 75vh;
    width: 88%;
}
.listTable{
    position: relative;
    width: 90%;
    margin: auto;
    font-size: 20px;
    text-decoration: none;
    border: 4px solid #5a5a5a;
    border-collapse: collapse;
}
.listTable_shell{
    font-size: 20px;
    text-decoration: none;
    border: 2px solid #5a5a5a;
    padding: 1%;
}

.listTable_shell{
    font-size: 20px;
    text-decoration: none;
    border: 2px solid #5a5a5a;
    padding: 1%;
}

.Whole_Page {
font-size: 20px;
padding: 5%;
text-decoration: none;
}

.head_section {
width: 100%;
height: 20%;
background-color: rgb(247, 249, 250);
border-radius: 10px;
}

.context_1 {
position: relative;
left: 50px;
}

.context_2 {
position: relative;
left: 50px;
}

#icon {
font-size: 120px;
position: absolute;
top: -5px;
left: auto;
}

.main_emoji {
position: absolute;
left: 1px;
}

.with_Emoji {
margin: 10%;
font-size: 40px;
position: relative;
left: 100px;
top: -180px;
text-decoration: none;
}

#API_Button_1 {
font-size: 50px;
height: 70px;
width: 300px;
position: absolute;
left: 70%;
right: inherit;
top: 18%;
border-color: rgb(0, 204, 255);
border-width: thick;
border-radius: 10px;
background-color: rgb(231, 255, 250);
}

.popTag {
background-color: rgb(208, 246, 255);
width: 450px;
position: absolute;
left: 68%;
right: inherit;
top: 30%;
bottom: 34%;
padding: 1%;
margin: -20px;
}

#popURI {
font-size: 25px;
height: 40px;
width: 300px;
position: relative;
left: 30;
}

#popBody {
font-size: 25px;
width: 300px;
position: relative;
left: 17px;
height: 150px;
}

#popSel {
font-size: 25px;
width: 300px;
height: 30px;
position: relative;
left: 65px;
}

.contextBody {
background-color: azure;
border-radius: 10px;
padding: 20px;
padding-bottom: 30px;
margin: -60px;
position: relative;
top: -70px;
height: 100%;
}

#footer{
background-color: rgb(207, 255, 239);
height: 155px;
margin: -40px;
border-radius: 15px;
position: relative;
}

#send_button{
font-size: 30px;
width: 300px;
height: 40px;
position: relative;
left: 65px;
}

#open{
    position: relative;

}

#close{
    position: absolute;
    top: 40%;
    right: 47%;
    height: 7%;
}

#alert-box{
    display: none;
    background-color: wheat;
    position: absolute;
    top: 40%;
    font-size: 20px;
    left: 15%;
}

